# --- Ambientes Virtuais (Virtual Environments) ---
venv-lr/
.venv-lr/
venv/
.venv/
env/
.env/
# --- Python & Compilação ---
__pycache__/
*.py[cod]
*$py.class

# --- Variáveis de Ambiente e Segredos (CRÍTICO) ---
.env
cofre/
*.env
*.log
# --- Dados e Arquivos de Entrada/Saída ---
Logs/
Main/
*.pdf
*.xlsx
*.xls


# --- Arquivos do Sistema Operacional e IDEs (Recomendado) ---
.DS_Store
.vscode/
.idea/

# --- Arquivos de inspeção e debug ---
inspecionar.py

*.db
